<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <a href="/">LOG</a>
        <ul>
          <li><a href="/list">Article</a></li>
        </ul>
      </div>
      <p>SMA-RT Blog</p>
    </header>
    <main>
      <ul class="list">
        <% articles.forEach((article) => { %>
          <li>
            <h2><%= article.title %></h2>
            <p><%= article.summary %></p>
            <a href="/article/<%= article.id %>">Next</a>
          </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
